pandas
numpy
requests
beautifulsoup4
lxml


matplotlib
seaborn
scikit-learn
imbalanced-learn
joblib

sentence-transformers
chromadb

langgraph
langchain-core

fastapi
uvicorn
pydantic

jupyter
ipykernel